In [5]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import seaborn as sns
from pathlib import Path 

# Set matplotlib to inline
%matplotlib inline

# Load data
df1 = pd.read_csv('V2A.CSV')
df2 = pd.read_csv('V3A.CSV')

# Merge data
df = pd.merge(df1, df2, on="PublicID")

# Define columns of interest
columns_of_interest = [
    'V2AJ01',
    'V2AJ01a_SP',
    'V2AJ01a',
    'V2AJ01a1',
    'V2AJ01a2',
    'V2AJ01a3',
    'V2AJ02',
    'V2AJ02a_SP',
    'V2AJ02a',
    'V2AJ02a1',
    'V2AJ02a2',
    'V2AJ02a3',
    'V2AJ03',
    'V2AJ03a_SP',
    'V2AJ03a',
    'V2AJ03a1',
    'V2AJ03a2',
    'V2AJ03a3',
    'V3AH01',
    'V3AH01a',
    'V3AH01a_SP',
    'V3AH01a1',
    'V3AH01a2',
    'V3AH01a3',
    'V3AH02',
    'V3AH02a',
    'V3AH02a_SP',
    'V3AH02a1',
    'V3AH02a2',
    'V3AH02a3',
    'V3AH03',
    'V3AH03a',
    'V3AH03a_SP',
    'V3AH03a1',
    'V3AH03a2',
    'V3AH03a3'
]

df[columns_of_interest].head()

#common_public_ids = df1['PublicID'].isin(df2['PublicID']).sum()
#print("Number of common Public IDs:", common_public_ids)

/var/folders/pw/xkpd454x6_ddjhgkzcvrngc40000gn/T/ipykernel_80967/3521503376.py:13: DtypeWarning: Columns (8,23,30,38,40,49,70,71,72,73,74,75,78,93,100,109,111,112,120,142,148,149,150,151,152,154,155,156,159,161,162,163,164,165,166,168,169,173,174,175,176,177,178,180,181,258,259,260,261,262,266,267,268,269,284,295,300,301,307,308) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('V2A.CSV')
/var/folders/pw/xkpd454x6_ddjhgkzcvrngc40000gn/T/ipykernel_80967/3521503376.py:14: DtypeWarning: Columns (7,22,51,52,53,54,55,57,58,59,60,62,63,64,65,66,67,68,71,72,73,74,89,103,109,116) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('V3A.CSV')

,V2AJ01,V2AJ01a_SP,V2AJ01a,V2AJ01a1,V2AJ01a2,V2AJ01a3,V2AJ02,V2AJ02a_SP,V2AJ02a,V2AJ02a1,...,V3AH02a_SP,V3AH02a1,V3AH02a2,V3AH02a3,V3AH03,V3AH03a,V3AH03a_SP,V3AH03a1,V3AH03a2,V3AH03a3
0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,walking,27.0,7,20,2,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,Rock Climbing,30.0,3,30,NaN,1.0,Hiking,12,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,Aerobics,1.0,3,45,NaN,1.0,Stairclimbing,22,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,Walking,27.0,5,20,1.5,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN